apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: opaque
stringData:
  APP_ENV:
  TOKEN_SYMMETRIC_KEY:
  ACCESS_TOKEN_DURATION:
  ##############################################################
  CUSTOMER_SERVICE_PORT:
  CUSTOMER_SERVICE_MONGO_URI:
  CUSTOMER_SERVICE_DB_LOGGER_COLLECTION:
  CUSTOMER_SERVICE_USER_DATABASE:
  CUSTOMER_SERVICE_USER_COLLECTION:
  CUSTOMER_SERVICE_ADDRESS_COLLECTION:
  CUSTOMER_SERVICE_CARD_COLLECTION:
  REDIS_CUSTOMER_SERVICE_REDIS_URI:
  ##############################################################