apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: opaque
stringData:
  ######################### GENERAL #####################################
  APP_ENV:
  TOKEN_EXPIRATION:
  TOKEN_SECRET:
  ######################### CUSTOMER SERVICE #####################################
  CUSTOMER_SERVICE_MODE:
  CUSTOMER_SERVICE_HTTP_PORT:
  CUSTOMER_SERVICE_GRPC:
  CUSTOMER_SERVICE_GRPC_PROTOCOL:
  CUSTOMER_SERVICE_MONGO_URI:
  CUSTOMER_SERVICE_DB_LOGGER_COLLECTION:
  CUSTOMER_SERVICE_USER_DATABASE:
  CUSTOMER_SERVICE_USER_COLLECTION:
  CUSTOMER_SERVICE_ADDRESS_COLLECTION:
  CUSTOMER_SERVICE_CARD_COLLECTION:
  REDIS_CUSTOMER_SERVICE_REDIS_URI:
  ######################### INVENTORY SERVICE #####################################
  INVENTORY_SERVICE_MODE:
  INVENTORY_SERVICE_HTTP_PORT:
  INVENTORY_SERVICE_GRPC:
  INVENTORY_SERVICE_GRPC_PROTOCOL:
  INVENTORY_SERVICE_MONGO_URI:
  INVENTORY_SERVICE_DATABASE:
  INVENTORY_SERVICE_PRODUCT_COLLECTION:
  INVENTORY_SERVICE_DB_LOGGER_COLLECTION:
